@import '../index.css';
@import '../variables.css';

.main-cont {
    padding: 0 20px 0 20px;

}


.background {
    position: fixed;
    /* Фиксируем фон, чтобы он занимал всю область */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--var-img-bg) no-repeat center center fixed;
    /* Фоновое изображение */
    background-size: cover;
    /* Покрытие всей области */
    opacity: 0;
    /* Изначальная непрозрачность 0 */
    transition: opacity .53s ease-in-out, background .33s ease;
    /* Плавный переход */
    z-index: -1;
}

.background.visible {
    opacity: 1;
    /* animation: bg_breath 1s ease-in-out infinite; */
}

@keyframes bg_breath {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .33;
    }

    100% {
        opacity: 1;
    }
}

.CONTanimatedLoadLogo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animatedLoadLogo {
    height: 55px;
    width: 55px;
    opacity: 0.61;
}

.mainscreenhi {
    letter-spacing: 1px;

    /* padding-left: 6px;
    padding-right: 6px; */
    padding-top: 70px;
    width: 100%;
    text-align: center;
    color: var(--var-allcolor);
    font-weight: 500;
    font-family: "Inter";
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* align-items: center;
        justify-content: center;
        height: 100vh; */
    margin: 0;
}

@media (max-width: 600px) {
    .whatIS_inhi {
        opacity: .85;
        padding: 0 20px 0 20px;
        width: fit-content;
        max-width: 400px;
        text-align: left;
        margin: auto;
    }
}

.mainscreenh2 {
    font-weight: 500;
}

#gotosec {
    font-weight: 900;
    color: rgb(140, 0, 255);
    opacity: 1;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--var-nameformul-bg);
    transition: 0.3s;
    animation: fadeIn 0.89s ease-in-out forwards;
    justify-content: center;
}

.linkFromMain {
    font-weight: 500;
    margin: 25px 0 50px 0;
}

#linkTOhow {
    color: var(--var-link-color);
    text-decoration: underline;
}


#selectIT {
    margin-bottom: 35px;
}

.arowparent {
    width: 100%;
}

.arrowdown img {
    filter: var(--var-gobackcolor);
    width: 21px;
}

.arrowdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: arroowUpDown 1.9s infinite;
}

@keyframes arroowUpDown {
    0% {
        margin-top: -13px;
    }

    50% {
        margin-top: 4px;
    }

    100% {
        margin-top: -13px;
    }
}


.BGforItems {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #24242400;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: none;
}

.ParentForDopItems {
    width: 100%;
    height: fit-content;
    
}


.dopItems {
    margin-top: 100px;
    top: 40px;
    width: 100%;
    max-width: 400px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: none;
}

.dopItems img {
    width: 40px;
    margin-left: 6px;
}

.categoryParent {
    z-index: 1;
    margin-top: 10px;
    max-width: 360px;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.items {
    padding: 20px;
    font-size: 18px;
    height: 45px;
    flex-grow: 1;
    width: fit-content;
    background-color: #332B3B;
    color: #fff;
    border: 1px solid #cccccc2a;
    border-radius: 28px;
    margin: 4px;
    text-align: start;
    flex-grow: 1;
}

.items img {
    width: 23px;
}


.item_1 {
    flex-basis: 100%;
    background-image: url("./img/bg_for_categories/purple_BG_all.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 110%;
}

.item_2 {
    flex-basis: 30%;
    background-image: url("./img/bg_for_categories/purple_BG_mechanics.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.item_3 {
    flex-basis: 30%;
    background-image: url("./img/bg_for_categories/purple_BG_mkt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.item_4 {
    background-image: url("./img/bg_for_categories/purple_BG_toki.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
}

.item_5 {
    font-size: 17px;
    flex-basis: 50%;
    background-image: url("./img/bg_for_categories/purple_BG_kolebania.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.item_5 img {
    margin-top: -10px;
}

.item_6 {
    background-image: url("./img/bg_for_categories/purple_BG_optics.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.item_7 {
    background-image: url("./img/bg_for_categories/purple_BG_atomics.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}



.item_5_1 {
    flex-basis: 100%;
}


.item_2_1 {
    background-image: url("./img/bg_for_categories/purple_BG_kinemat.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.item_2_2 {
    background-image: url("./img/bg_for_categories/purple_BG_dynamica.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.item_2_3 {
    background-image: url("./img/bg_for_categories/purple_BG_zaksochrn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.item_2_4 {
    background-image: url("./img/bg_for_categories/purple_BG_watergas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.item_2_3 img {
    width: 30px;
}

.items a {
    width: 100%;
    height: 100%;
}

.item_2_3 {
    font-size: 15px;
}


.BGfadeIn {
    animation: BgFadeIn1 .23s ease-in-out forwards;
    opacity: 0;
    display: flex;
}

.BGfadeOut {
    animation: BgFadeOut1 .23s ease-in-out forwards;
    opacity: 1;
    display: none;
}

@keyframes BgFadeIn1 {
    0% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes BgFadeOut1 {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#categoriesfield {
    /* margin-top: 200px; */
    position: relative;
    width: 100%;
}

.textonmaincont {
    width: 100%;
    margin-top: 100px;
}

.textonmain {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #fff;
    /* text-align: justify;  */
    /* width: 300px; */
    background-color: #000000a8;
    padding: 15px 20px 30px 20px;
    border-radius: 35px;
}

@media (min-width: 1000px) {

    .textonmain {
        width: 80%;
    }
}

.link_in_discription {
    color: #9748ff;
    text-decoration: underline;
}